// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #6e6e6e !default;
$header-bg-color: #ffd88c !default;
$header-bg-color-secondary: #fea901 !default;

// Text
$section-headings-color: #82be00 !default;
$body-text-color: #6e6e6e !default;
$body-link-color: #fea901 !default;
$blockquote-text-color: #a8a8a8 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
